flightsearch/.settings/org.eclipse.wst.jsdt.ui.superType.container
flightsearch/.settings/org.eclipse.wst.common.project.facet.core.xml
flightsearch/.settings/org.eclipse.wst.jsdt.ui.superType.name
flightsearch/.settings/org.eclipse.wst.common.component
flightsearch/.settings/org.eclipse.m2e.core.prefs
flightsearch/.settings/org.eclipse.wst.validation.prefs
flightsearch/.settings/org.eclipse.jdt.core.prefs
flightsearch/.classpath
flightsearch/.gitignore
flightsearch/.project
flightsearch/.settings/.jsdtscope
flightsearch/.settings/oracle.eclipse.tools.webtier.ui.prefs
flightsearch/.settings/org.eclipse.ltk.core.refactoring.prefs
flightsearch/.settings/org.eclipse.m2e.wtp.prefs
flightsearch/.settings/org.eclipse.wst.ws.service.policy.prefs
